:root{
    --font-principal: 'Roboto';
    --font-secundario: 'Raleway';
    --background-black: #21303a;
    --backgroun-gray: #f5f4fa;
    --color-black: #212121;
    --color-gray: #757575;
    --color-white: #ffffff;
    --color-blue: #2196f3;
    --button-principal: #188ce8;
 } 
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    background-color: var(--color-white);
    font-family: var(--font-principal),var(--font-secundario), sans-serif;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
}
.btn-primary {
    width: 261px;
    height: 50px;
    background-color: #2196f3;
    color: var(--color-white);
    font-family: var(--font-principal);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: none;
    text-transform: capitalize;
    padding: 10px 20px;
}
.btn-primary:hover {
    background-color: #188ce8;
}
.container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto; 
}
.section {
    padding: 94px 0;
}
.section > h2 {
    color: var(--color-secundario);
    font-style: normal;
    font-weight: 700px;
    font-size: 36px;
    padding: 30px 0;
    text-align:center;
    letter-spacing: 0.03 em;
}
.pading {
    padding-top: 0;
}
a {
    text-decoration: none;
}
button:hover {
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
/*--------index--------*/
/*----- Header----*/
header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0 calc((100% - 1200px) / 2);
}
header nav {
    display: flex;
    align-items: center;
    gap: 100px;
}
header nav .web{
    font-family: var(--font-secundario), sans-serif;
    color: #2196f3; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.web-black {
    color: #000000;
}
.web-white {
    color: var(--color-white);
}
/*--lista de navegacion--*/
header nav .nav-options {
    list-style: none;
    display: flex;
    gap: 80px;
}
.headboard nav .nav-options .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-black);
}
/*--informacion de contacto--*/
header .header-contact {
    list-style: none;
    display: flex;
    gap: 80px;
}
.header-contact .contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-gray);
}
header .Headoard .header-contact li .contact { 
    display: flex;
    align-items:center;
    gap: 10px;
    color: var(var(--color-gray));
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-decoration: none;
    height: 20px;
} 
.icon-email {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}
.icon-telefono {
    width: 10px;
    height: 16px;
    margin-right: 10px;
}

   /*-caracteristicas-*/
.nav-options .link:hover,
.nav-options .link:focus,
.header-contact .contact:hover,
.header-contact .contact:focus {
    color: #2196f3;
}
.contac:hover,
.contact:hover .icon-email,
.contac:hover,
.contact:hover .icon-telefono {
    color: #4d99d7;
    fill:#2196F3;
}
/*-----titulo principal-----*/
.fondo {
    background-color: var(--color-black);
    padding: 200px calc((100% - 1200px) / 2);
    text-align: center;
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ), 
        url(/images/svg/Imagen-title.svg);
}
.fondo .titulo-principal {
    width: 500px;
    margin: 20px auto;
    font-size: 44px;
    color: var(--color-white);
    text-transform: capitalize;
}
/*--primera seccion--*/
.features-item {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    display:flex;
}
.features-item li {
    list-style: none;
    width: 240px;
}
.features-item li div {
    width: 270px;
    height: 120px;
    left: 206px;
    top: 769px;
    background-position: center;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.features-item li .features-subtitle {
    height: 50px;
    text-transform: uppercase;
    color: var(--color-black);
}
.paragraph {
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;    
    letter-spacing: 0.03em;
    color: var(--color-gray);
    width: 270px;
    height: 75px;
    left: 206px;
    top: 945px;
}
/*-- segunda seccion --*/
.do .container ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.do .container ul li{
    list-style: none;
    width: 360px;
}
/*-- tercera seccion --*/
.section-workgroup {
    background-color: var(--backgroun-gray);
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-workgroup .container .workgroup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    list-style: none;
    width: 1170px;
    margin: 50px auto 0px;
    display: flex;
    justify-content: space-between;
}
.section-workgroup .container .workgroup>li {
    height: 368px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}
.section-workgroup .container .workgroup li ul {
    display: flex;
    width: 206px;
    height: 44px;
}
.section-workgroup .container .workgroup li ul li svg {
    width: 44px;
}
.section-workgroup .container .workgroup li ul li svg path {
    fill: var(--color-gray);
}
.section-workgroup .container .name{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-black);
    margin-top: 30px;
    margin-bottom: 10px;
}
.section-workgroup .container .card {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-gray);
}
/*--------portafolio--------*/
.botones .option {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
    list-style: none;
}
.botones .option li button{
    border-radius: 4px;
    border: none;
    outline: none;
    color: var(--color-black); 
    line-height: 1.4px;
    font-size: 16px;
    font-weight: 700px;
    letter-spacing: 0.02em;
    padding: 10px 30px;
    text-decoration: none;  
    text-transform: capitalize;
}
.botones .services {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}
.botones .services li {
    list-style: none;
    margin-bottom: 20px;
    width: 360px;
}
.botones li {
    color: var(--color-black);
    padding: 15px;
}
.botones .services li a p {
    color: var(--color-gray);
    font-size: 16px;
    padding: 15px;
}
.botones .option li button:hover,
.botones .option li button:focus,

.botones .option li button.selected {
    color: var(--color-white);
    background-color: #2196F3;
}

.services {
    gap: 30px;
}
.connection {
    width: 368px;
    height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.connection:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.connection>a {
    text-decoration: none;
}
.connection-img {
    width: 370px;
    height: 294px;
}
.prayer {
    width: 370px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--color-black);
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
}
.paragr {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--color-gray);
    margin-bottom: 4px;
    margin-left: 24px;  
}
/*--Footer--*/

footer {
    background-color: #2f303a;
    padding: 94px calc((100% - 1200px) / 2);
} 
address ul {
    list-style: none;
}
.location {
    display: grid;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
address .email, .tel{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    padding: 5px 0;
    display: block;
    color: #ffffff99;
}
address .location:hover, .email:hover, .tel:hover, 
address .location:focus, .email:focus, .tel:focus, {
  color: var(--color-white);
}









